
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Montserrat:wght@400&display=swap');

.converter-wrapper {
    width: 620px;
    min-height: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin-top: 20px;
    padding: 40px;
    
}

.converter-title {
    font-family: 'Goldman', cursive;
    background: linear-gradient(to right, #00c9ff, #92fe9d);
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.converter-legend {
    //margin-top: 20px !important;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    //font-family: 'Goldman', cursive;
    color: rgb(85, 85, 85);
}

.converter-content {
    padding: 20px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #00c9ff, #92fe9d);
}

.converter-input{
    margin-bottom: 10px !important;
    width: 90%;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #00c9ff, #92fe9d);
    padding: 10px;
    font-family: 'Goldman', cursive;

}

.sadNews {
    font-family: 'Goldman', cursive;
    color: rgb(233, 14, 14);
    margin-top: 20px;
    font-size: 20px;
}

.goodNews {
    font-family: 'Goldman', cursive;
    color: rgb(85, 85, 85);
    margin-top: 20px;
    font-size: 20px;
}

.party {
    font-size: 30px;
    font-family: 'Goldman', cursive;
    background: linear-gradient(to right, #00c9ff, #92fe9d);
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.night-mode {
    background-color: rgba(0, 0, 0, 0.5);
    .converter-title {
        background: linear-gradient(to right, #ee0979, #ff6a00);
        text-align: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .converter-legend {
        color: white;
    }
    .converter-content {
        border: 10px solid;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: linear-gradient(to right, #ee0979, #ff6a00);
    }
    .party {
        background: linear-gradient(to right, #ee0979, #ff6a00);
        text-align: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .converter-input{
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: linear-gradient(to right, #ee0979, #ff6a00);
        background: transparent;
        color: white;   
    }
    .sadNews {
        color: rgb(227, 90, 90);
    }
    .goodNews {
        color: white;
    }
    //background: linear-gradient(to right, #ff00cc, #333399);
} 
//background: linear-gradient(to right, #ee0979, #ff6a00);

